<app-navbar></app-navbar>
<div>
    <h2>Your Drafts</h2>
    <div *ngIf="drafts.length === 0">
      <p>No drafts found.</p>
    </div>

    <div *ngFor="let draft of drafts" class="draft-card">
      <h2>{{ draft.title }}</h2>
      <p>{{ draft.description }}</p>
      <p *ngIf="draft.lastEditedDate"><strong>Last Edited Date:</strong> {{ draft.lastEditedDate }}</p>
      <p><strong>Author:</strong> {{ draft.author }}</p>
      <div class="button-group">
        <button type="button" (click)="publish(draft.id)">Publish Draft</button>
        <button type="button" (click)="edit(draft.id)">Edit Draft</button>
      </div>
    </div>
</div>
