<app-navbar></app-navbar>
<div>
  <h2>Create New Post</h2>
  <form>
    <div>
      <label for="title">Title</label>
      <input id="title" [(ngModel)]="title" name="title" required />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
    </div>
    <div class="button-group">
      <button type="button" (click)="onCreatePost(false)">Create Post</button>
      <button type="button" (click)="onCreatePost(true)">Save as Concept</button>
    </div>
  </form>
</div>
